/*css*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.heading-clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	font-family: Arial;
	background: url(../img/header.jpg) no-repeat center top / cover; 
	height: 118px;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.container {
	width: 1170px;
	margin: 0 auto;
	height: 100%;
}

.logo {
	margin: 0;
	padding-left: 46px;
	float: left;
}

nav {
	float: right;
	margin-top: 54px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 38px
}
.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;

	-webkit-transition-duration: 1s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.menu a:hover {
	color: #66ceda;
}

.menu a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #66ceda;
	transition: width .3s ease-in-out;
}

.menu a:hover:after,
.menu a:focus:after {
	width: 100%;
}

.button {
	position: relative;
	background: #252525;
	color: #dcdbdb;
	border-radius: 10px 10px 0px 0px;
	display: block;
	width: 60px;
	height: 20px;
	margin: 88px 0px 0px 88px;
	padding: 5px 0px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	float: left;

	-webkit-transition: 0.3s ease-in-out; /* анимационное выдвижение для всех браузеров*/
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.button:hover {
	background: #A4A4A4;
	color: #252525;
}

section {
	background: url(../img/Fon.jpg);
	background-size: cover;
	height: 1112px;
	background-position: center;
	position: relative;
	top: 118px;
}

#hidden_panel {
    position: fixed; /* положение */
    top: 0px; /* отступ сверху */
    margin-left: 768px; /* отступ справа */
    background: #d8d8d8; /* цвет фона */
    width: 320px; /* ширина блока */
    height: 140px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: #000; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    border: 2px outset #4378ff;
    z-index: 2;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 0 0 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

#panel {
    position: absolute; /* положение */ 
    top: 116px; /* отступ сверху */
    left: -2px; /* отступ слева */
    background: #66ceda; /* цвет фона */
    color: #000; /* цвет текста */
    width: 324px; /* ширина блока */
    height: 50px; /* высота блока */
    padding: 0 auto; /* отступы от границ внутри блока */
    text-align: left;/* выравнивание текста */
    font-size: 19px;
    font-family: Calibri;
    z-index: 2;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 0 10px 10px; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.Online {
	display: inline-block;
	margin: 12px 0 0 50px;
}

#panel img {
	display: block;
	float: right;
	margin: 8px 50px 0 0;
}

#hidden_panel:hover #panel {
    top: 142px;
}

#hidden_panel:hover {
	top: 118px;
}

.line {
	position: absolute;
	top: 60px;
	width: 73px;
	left: 50%;
	margin-left: -36px;
}

.text {
	width: 1170px;
	position: absolute;
	font-family: Verdana;
	color: #2276c7;
	padding: 0px;
	top: 30px;
	margin: 0 auto;
}

.text li {
	display: block;
	position: relative;
}

.text1 {
	background: rgba(255, 255, 255, 0.5);
	color: #095298;
	width: 40%;
	height: 70px;
	margin-top: 69px;
	margin-left: 61px;
	line-height: 10px;
	box-shadow: inset 0 0px 0 #fff;

	padding: 10px;
	padding-right: 10px;
	border-radius: 5px 5px 5px 5px;
	font-size: 20px;

	transition: 0.9s ease-in-out;

}

.text1:hover {
	box-shadow: inset -500px 0 0 #2276c7;
	color: #fff;
	border: 1px inset #fff;
}

.text1 p1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

.text2 {
	background: rgba(255, 255, 255, 0.5);
	width: 40%;
	float: right;
	height: 70px;
	color: #095298;
	margin: -10px 60px 0 0;
	line-height: 10px;

	padding: 10px;
	padding-left: 10px;
	border-radius: 5px 5px 5px 5px;
	font-size: 20px;

	transition: 0.9s ease-in-out;
}

.text2:hover {
	box-shadow: inset 500px 0 0 #2276c7;
	color: #fff;
	border: 1px outset #fff;
}

.text2 p1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

p {
	color: #000;
}

.form-control {
	height: 20px;
	width: 140px;
	font-size: 14px;
	margin: 4px;
	border: 2px solid #66ceda;
	border-radius: 5px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
	outline:none;
	padding-left: 3px;
}

.form-control:hover {
	border-color: #4378ff;
	transition: all 0.4s;
}

#email {
	width: 160px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
}

#message {
	height: 40px;
	width: 200px;
	font-size: 16px;
	margin: 4px;
	border: 2px solid #66ceda;
	border-radius: 5px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
	outline:none;
	padding-left: 3px;
}

#message:hover {
	border-color: #000066;
	transition: all 0.4s;
}

#sendMail {
	position: relative;
	height: 42px;
	width: 64px;
	margin-top: 10px;
	margin-right: 15px;
	float: right;
	cursor: pointer;
  	padding: 0 auto;
 	font: inherit;
  	color: #fff;
  	background-color: #2ca8c6;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	outline: none;
	border-radius: 4px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
}

#sendMail:hover {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#errorMess {
	position: relative;
	color: #990000;
	margin-top: -4px;
	font-size: 15px;
}

.back-to-top {
	position: fixed;
	right: 40px;
	bottom: -50px;
	width: 50px;
	height: 50px;
	border-color: transparent;
	background-color: #333399;
	border-radius: 50%;
	opacity: 0.7;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.back-to-top:hover {
	filter: brightness(1.5);
	background-color: #0080ff;
	outline: none;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.left-site-foto {
	width: 48px;
	height: 48px;
}

.back-to-top.active {
	bottom: 30px;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
	#hidden_panel {
	    margin-left: 628px; /* отступ справа */
	}
	.button {
		margin: 88px 0px 0px 30px;
	}
	.logo {
		margin: 0px;
		padding: 0px;
		float: left;
		left: 0px;
	}
	.text {
		width: 960px;
		padding: 0px;
		top: 30px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 43%;
		height: 70px;
		margin-top: 69px;
		margin-left: 11px;
		font-size: 17px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 43%;
		float: right;
		height: 70px;
		margin: -10px 10px 0 0;
		font-size: 17px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}
	.text {
		width: 720px;
		padding: 0px;
		top: 30px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 42%;
		height: 60px;
		margin-top: 79px;
		margin-left: 2px;
		font-size: 13px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 42%;
		float: right;
		height: 60px;
		margin: -10px 2px 0 0;
		font-size: 13px;
	}
	.menu li {
		margin-right: 15px;
	}
	.menu a {
		font-size: 11px;
		font-weight: bold;	
	}
	#hidden_panel {
	    margin-left: 476px; /* отступ справа */
	    width: 240px; /* ширина блока */
	}
	#panel {
	    width: 244px; /* ширина блока */
	    height: 40px; /* высота блока */
	    font-size: 16px;
	}
	.Online {
		margin: 10px 0 0 25px;
	}

	#panel img {
		margin: 4px 25px 0px 0px;
		width: 32px;
		float: right;
	}
	.form-control {
		height: 20px;
		width: 100px;
		font-size: 12px;
	}
	#message {
		height: 40px;
		width: 150px;
		resize: none;
		float: left;
	}
	#sendMail {
		margin-top: 10px;
		margin-right: 8px;
	}
	.button {
		margin: 88px 0px 0px 15px;
	}
	.logo {
		margin: 0;
		float: left;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}
	.menu li {
		margin-right: 15px;
	}
	.menu a {
		font-size: 12px;
		font-weight: bold;
		margin:0 auto;
	}
	nav {
		margin-top: 85px;
		left: 50%;
		margin-left: -50%;
	}
	#hidden_panel {
	    left: 50%;
	    margin-left: -120px;
	    width: 240px; /* ширина блока */
	}
	#panel {
	    width: 244px; /* ширина блока */
	    height: 40px; /* высота блока */
	    font-size: 16px;
	}
	.Online {
		margin: 10px 0 0 25px;
	}

	#panel img {
		margin: 4px 25px 0px 0px;
		width: 32px;
		float: right;
	}
	.form-control {
		height: 20px;
		width: 100px;
		font-size: 12px;
	}
	#message {
		height: 40px;
		width: 150px;
		resize: none;
		float: left;
	}
	#sendMail {
		margin-top: 10px;
		margin-right: 8px;
	}
	.button {
		margin: 0;
		float: right;
		right: 50px;
		position: absolute;
		color: #dcdbdb;
		border-radius: 0 0 10px 10px;
	}
	.logo {
		position: absolute;
		margin: 5px 0 0 40px;
		float: left;
		width: 140px;
	}
	.text {
		width: 560px;
		padding: 0px;
		top: 20px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 42%;
		height: 60px;
		margin-top: 84px;
		margin-left: 2px;
		font-size: 10px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 42%;
		float: right;
		height: 60px;
		margin: -10px 2px 0 0;
		font-size: 10px;
	}
}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0;
	}
	.text {
		width: 100%;
		padding: 0px;
		top: -20px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		margin-top: 90px;
		font-size: 16px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 90%;
		height: 60px;
		margin-right: 3%;
		margin-top: 5px;
		font-size: 16px;
	}
	.menu li {
		margin-right: 15px;
	}
	.menu a {
		font-size: 11px;
		font-weight: bold;
		margin:0 auto;
	}
	nav {
		margin-top: 85px;
		left: 50%;
		margin-left: -50%;
	}
	#hidden_panel {
	    left: 50%;
	    margin-left: -120px;
	    width: 240px; /* ширина блока */
	}
	#panel {
	    width: 244px; /* ширина блока */
	    height: 40px; /* высота блока */
	    font-size: 16px;
	}
	.Online {
		margin: 10px 0 0 25px;
	}

	#panel img {
		margin: 4px 25px 0px 0px;
		width: 32px;
		float: right;
	}
	.form-control {
		height: 20px;
		width: 100px;
		font-size: 12px;
	}
	#message {
		height: 40px;
		width: 150px;
		resize: none;
		float: left;
	}
	#sendMail {
		margin-top: 10px;
		margin-right: 8px;
	}
	.button {
		margin: 0;
		float: right;
		right: 50px;
		position: absolute;
		color: #dcdbdb;
		border-radius: 0 0 10px 10px;
	}
	.logo {
		position: absolute;
		margin: 5px 0 0 40px;
		float: left;
		width: 140px;
	}
}

@media screen and (max-width: 424px) {
	.container {
		width: 100%;
		padding: 0;
	}
	.text {
		width: 100%;
		padding: 0px;
		top: -20px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		margin-top: 90px;
		font-size: 14px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 90%;
		height: 60px;
		float: right;
		margin-right: 3%;
		margin-top: 5px;
		font-size: 14px;
	}
	.menu li {
		margin-right: 20px;
	}
	.menu a {
		font-size: 8px;
		font-weight: normal;
	}
	nav {
		margin-top: 85px;
		left: 50%;
		margin-left: -25%;
	}
	.logo {
		position: absolute;
		margin: 5px 0 0 20px;
		float: left;
		width: 140px;
	}
	.back-to-top {
		right: 50%;
		margin-right: -25px;
	}

	.back-to-top.active {
		bottom: 20px;
	}
}

@media screen and (max-width: 374px) {
	.container {
		width: 100%;
		padding: 0;
	}
	.text {
		width: 100%;
		padding: 0px;
		top: -20px;
	}
	.text1 {
		background: rgba(255, 255, 255, 0.5);
		color: #095298;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		margin-top: 90px;
		font-size: 13px;
	}
	.text2 {
		background: rgba(255, 255, 255, 0.5);
		width: 90%;
		height: 60px;
		float: right;
		margin-right: 2%;
		margin-top: 5px;
		font-size: 13px;
	}
	.menu li {
		margin-right: 13px;
	}
	.menu a {
		font-size: 8px;
		font-weight: normal;
	}
	nav {
		margin-top: 85px;
		left: 10px;
	}
	.logo {
		position: absolute;
		margin: 5px 0 0 20px;
		float: left;
		width: 140px;
	}
	.back-to-top {
		right: 50%;
		margin-right: -25px;
	}

	.back-to-top.active {
		bottom: 20px;
	}
}