/*css*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	min-width: 1170px;
}

.heading-clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
header {
	font-family: Arial;
	background: url(../img/header.jpg) no-repeat center top / cover; 
	height: 118px;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.logo {
	margin: 0;
	padding-left: 46px;
	float: left;
}

nav {
	float: right;
	margin-top: 54px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 38px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;

    -webkit-transition-duration: 1s ; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;	
}

.menu a:hover {
	color: #66ceda;
}

.menu a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #66ceda;
	transition: width .3s ease-in-out;
}

.menu a:hover:after,
.menu a:focus:after {
	width: 100%;
}

.button {
	background: #252525;
	color: #dcdbdb;
	border-radius: 10px 10px 0px 0px;
	display: block;
	width: 60px;
	height: 20px;
	margin: 88px 0px 0px 88px;
	padding: 5px 0px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	position: relative;

	-webkit-transition: 0.3s ease-in-out; /* анимационное выдвижение для всех браузеров*/
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.button:hover {
	background: #A4A4A4;
	color: #252525;
}

section {
	background: url(../img/Fon.jpg);
	background-size: cover;
	height: 1112px;
	background-position: center;
	position: relative;
	top: 118px;
}

#hidden_panel {
    position: fixed; /* положение */
    top: 0px; /* отступ сверху */
    margin-left: 768px; /* отступ справа */
    background: #d8d8d8; /* цвет фона */
    width: 320px; /* ширина блока */
    height: 140px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: #000; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    border: 2px outset #4378ff;
    z-index: 2;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 0 0 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

#panel {
    position: absolute; /* положение */ 
    top: 116px; /* отступ сверху */
    left: -2px; /* отступ слева */
    background: #66ceda; /* цвет фона */
    color: #000; /* цвет текста */
    width: 324px; /* ширина блока */
    height: 50px; /* высота блока */
    padding: 0 auto; /* отступы от границ внутри блока */
    text-align: left;/* выравнивание текста */
    font-size: 19px;
    font-family: Calibri;
    z-index: 2;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 0 10px 10px; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.Online {
	display: inline-block;
	margin: 12px 0 0 50px;
}

#panel img {
	display: block;
	float: right;
	margin: 8px 50px 0 0;
}

#hidden_panel:hover #panel {
    top: 142px;
}

#hidden_panel:hover {
	top: 118px;
}

.form-control {
	height: 20px;
	width: 140px;
	font-size: 14px;
	margin: 4px;
	border: 2px solid #66ceda;
	border-radius: 5px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
	outline:none;
	padding-left: 3px;
}

.form-control:hover {
	border-color: #4378ff;
	transition: all 0.4s;
}

#email {
	width: 160px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
}

#message {
	height: 40px;
	width: 200px;
	font-size: 16px;
	margin: 4px;
	border: 2px solid #66ceda;
	border-radius: 5px;
	box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .2);
	outline:none;
	padding-left: 3px;
}

#message:hover {
	border-color: #000066;
	transition: all 0.4s;
}

#sendMail {
	position: relative;
	height: 42px;
	width: 64px;
	margin-top: 10px;
	margin-right: 15px;
	float: right;
	cursor: pointer;
  	padding: 0 auto;
 	font: inherit;
  	color: #fff;
  	background-color: #2ca8c6;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	outline: none;
	border-radius: 4px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
}

#sendMail:hover {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#errorMess {
	position: relative;
	color: #990000;
	margin-top: -4px;
	font-size: 15px;
}

.comment {
	position: absolute;
	height: 550px;
	width: 1170px;
	top: 50px;
	margin-left: auto;
    margin-right: auto;
}

.comment-body {
	position: relative;
    border: 2px solid #009c5b;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 30px;
    display: block;
}

/* Clear floats after containers */
.comment-body::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.comment-body img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.comment-body span {
    font-size: 20px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .comment-body {
    text-align: center;
  }

  .comment-body img {
    margin: auto;
    float: none;
    display: block;
  }
}

h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	font-family: Verdana;
}

h2:hover {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	text-shadow: #009c5b 2px 2px 1px;
	text-decoration: line-through;
	cursor: pointer;
}

.contacts {
	position: absolute;
	width: 100%;
	height: 505px;
	bottom: 0px;
	margin-left: 0px;
	background: linear-gradient(45deg, rgba(0, 0, 77, 0.5), rgba(201, 255, 234, 0.6));
	box-shadow: 0px -7px 10px -9px #008ae6;
}

.contacts-body {
	width: 1170px;
	margin: 0 auto;
}

.contacts img {
	width: 64px;
	height: 64px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.contacts li {
	background-color: #d9d9d9;
	color: #000;
	display: block;
	text-decoration: none;
	font-size: 20px;
	border-left: 2px solid #00004d;
	box-shadow: -10px 0px 20px -5px #4d4dff;
}

.contacts li:hover {
	border-left: 2px solid #009c5b;
	box-shadow: -10px 0px 20px -5px #008a50;
}

.contacts p {
	margin: 2px;
}

.contacts a {
	text-decoration: none;
	text-transform: none;
	display: block;
}

.contacts .phone-number a {
	color: #000;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	font-family: Verdana;
}

h1:hover {
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	text-shadow: #262694 2px 2px 1px;
	text-decoration: line-through;
	cursor: pointer;
}

.email-number {
	position: relative;
	float: left;
	margin-left: 100px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.phone-number {
	position: relative;
	float: left;
	margin-left: 0px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.location {
	position: relative;
	width: 340px;
	margin: 130px 20px 0px 0px;
	margin-top: 130px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.schedule {
	position: relative;
	height: 110px;
	width: 225px;
	margin: -150px 0px 70px 400px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.google-map {
	float: right;
	position: absolute;
	bottom: 100px;
	margin-left: 730px;
}

.time {
	color: #2dbda2;
	font-family: Lucida Console;
}

.back-to-top {
	position: fixed;
	right: 40px;
	bottom: -50px;
	width: 50px;
	height: 50px;
	border-color: transparent;
	background-color: #333399;
	border-radius: 50%;
	opacity: 0.7;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.back-to-top:hover {
	filter: brightness(1.5);
	background-color: #0080ff;
	outline: none;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.left-site-foto {
	width: 48px;
	height: 48px;
}

.back-to-top.active {
	bottom: 30px;
}

